<template name="constitution">
  {{>fsheader}}
      <div id="container">

        <div id="content">

           <h1 class="center">Constitution of the WSU Computer Science Club</h1>


        <div id="ConstituitionBox">
            <div id="article1">
            <h3>Article I.</h3>
                <h4>Name</h4>
  <ul>
            <li>The name of the organization shall be: The Winona State University Computer Science Club</li>

    </ul>
                </div>
                        <div id="article2">

<h3>Article II.</h3>
                            <h4>Purpose</h4>

            <ul>
                <li>To provide its members with an organizational reference from which to direct their interests and activities in computer science.</li>

                <li>To provide its members with an intellectual and social atmosphere in which to discuss facts and developments in computer science.</li>

                <li>To promote an interest in computer science and the opportunity to pursue these interests beyond structure limitations.</li>
            </ul>
                        </div>

                        <div id="article3">

<h3>Article III.</h3> <h4>Purpose</h4>
  <ul>
        <li> The officers, listed in order of rank shall be: The President, the Vice President, the Treasurer, Secretary and a Public Relations Responsible</li>
        <li>The Committee shall be provided in the by-laws of this club the following standing committees; club</li>
        <li>other standing committees as may be deemed necessary or convenient for the administration of the club.</li>
  </ul>



  <h4>The President’s Duties:</h4>
  <ul>
        <li>Chair of the club meetings</li>
        <li>Assist the other officers with their duties.</li>
        <li>Work with the CS department faculty, setting up meetings with speakers.</li>
        <li>Promote the existence of the club, coming up with new ways of attracting members</li>
        <li>Coordinating with the different Component of the Club </li>
    </ul>

    <h4>The Vice President’s Duties:</h4>
    <ul>

        <li>Assist the other officers with their duties</li>
        <li>Go to ASO meetings to keep in the loop with Student Senate policies.</li>
        <li>Creating and posting signs about upcoming events</li>
        <li>Keeping the club display board/case current.</li>
    </ul>

 <h4>The Treasurer’s Duties:</h4>
    <ul>
        <li>Manage the finances and keep track of available funds.</li>
        <li>Work with student senate to request money.</li>
        <li>Responsible for attending Treasurer workshops when offered by Student Senate.</li>
        <li>Find fundraising opportunities.</li>
        <li>Attend the ASO meetings </li>
     </ul>

 <h4>The Secretary’s Duties: </h4>
    <ul>
        <li>Keeping notes of every meeting.</li>
        <li>Submit events to the WSU Update Email.</li>
        <li>Provide contact and biographical information about the club officers.</li>
        <li>Organize the club’s Archive </li>
    </ul>

 <h4>The Public Relations Responsible’s Duties:</h4>
    <ul>
        <li>Keeping the website updated and attracting new members through the website.</li>
        <li>Adding anything that would increase traffic to the site (games, help documents, videos, presentations, demonstrations)</li>
    </ul>

<ul>
<li>  All officers shall serve the time of their installation, to the termination of the school semester.</li>
<li>  Should a vacancy occur between elections, it shall be filled by a simple majority vote of the members at a meeting held within one month after the vacancy has occurred.</li>
  <li>Leadership nomination requirements will be non-discriminatory and all persons will be treated in a fair and equitable manner.</li>
        </ul>
             </div>

                        <div id="article4">

<h3>Article IV.</h3>
                            <h4>Membership</h4>
                    <ul>
                        <li>Any student or faculty member interested in the field of computer science shall be granted membership to the WSU Computer Science Club.</li>
                        <li>Membership requirements will be non-discriminatory and all persons will be treated in a fair and equitable manner.
        </li>
                    </ul>
                            </div>

                        <div id="article5">

        <h3>Article V.</h3>
                             <h4>Funding</h4>

                    <ul>
                        <li>The treasurer shall manage, and audit, the club’s budget.</li>
                        <li>Funds will be held in an account in the WSU Business Office.
        </li>
                        <li>In the event of the dissolution of the club, all funds will be returned to the Student Activities Fund Committee of Student Senate for reappropriation.</li>
                    </ul>
            </div>
                                <div id="article6">

<h3>Article VI.</h3>
                                     <h4>Amendment</h4>
  <ul>
            <li>Any club member can propose an amendment at any time during a meeting by raising the issue to the attention of the club leadership.</li>
            <li>Each amendment must receive a super majority vote before approval.</li>
            <li>The amended constitution will then go before the WSU Student Senate for ratification.</li>
            <li>The WSU Computer Science Club Constitution must be resubmitted for ratification for the WSU Student Senate at least every two years.</li>

            </ul>
            </div>
                        <div id="article7">

<h3>Article VII.</h3>
                             <h4>Meetings</h4>
            <ul>
                <li>The WSU Computer Science Club shall meet once every other week.</li>
                <li>Special meetings may be called by the President or by a petition signed by a simple minority of the members. All members shall receive notification of meetings at least twenty-four hour prior to them.</li>
                <li>A normal quorum (supermajority of the members) shall be required to conduct business.
            </li>

            </ul>
                </div>
                         <div id="article8">


<h3>Article VIII.</h3>
                              <h4>Nominations and Elections</h4><br>
             <h4>The members of the WSU Computer Science Club shall make the nomination.</h4><br>
            <h4> The Elections</h4>

  <ul>
            <li>  The elections of the president shall require a simple majority vote where a normal quorum is present.
            </li>
            <li>    Regular elections of the president shall be by secret ballot at one of the last meetings of the school year.
            </li>
            <li>  Provide ballots for the president position with a description of his duties for that position.
            </li>
    </ul>

                              <h4>Nomination</h4>

  <ul>
            <li>  Members present themselves for nomination of officers.
            </li>
            <li>    Once the president gets elected, he should choose his executive board.
            </li>
    </ul>

                            </div>
                        <div id="article9">

<h3>Article IX.</h3>   <h4>Other Positions</h4>
  <ul>
        <li>An advisor shall be elected at a meeting when a quorum of 2/3 of the members is present. The advisor shall be a member of the WSU Computer Science Faculty.</li>
    </ul>

            </div>
                        <div id="article10">

<h3>Article X.</h3>    <h4>Advisor: </h4>
             <h4>Dr. Tim Gegg-Harrison</h4>
            <br>   <h4>Advisor Duties</h4>
  <ul>
            <li>Attend regular club meetings</li>
            <li>Maintain contact with club leadership</li>
            <li>In conjunction with the responsible party from the cub, track the club budget.</li>
            <li>Maintain current contact information with WSU Student Senate.</li>

    </ul>
                         </div>


         </div>
         </div>
         </div>
  {{>fsfooter}}
</template>