<template name="fsfooter">
  <div id="footer" >
    <div id="footer-wrapper">

        <div class="color-1">
        <div class="cl-effect-1">
          <a href="/admin">I am a member</a>
          <a href="/constitution">Constitution</a>
        </div>
        </div>

        <p>2014 - 2016 | Winona State Computer Science Club.</p>
        <ul>
             <li><a class="socialicon github" href="https://github.com/WSUCSClub"></a></li>
      <li><a class="socialicon twitter" href="https://twitter.com/WSU_CSC"></a></li>
      <li><a class="socialicon facebook" href="https://www.facebook.com/WSUCSClub"></a></li>
      <li><a class="socialicon instagram" href="https://instagram.com/WSU_CSC"></a></li>

    </ul>
    </div>
  </div>
</template>