<template name="fsheader">
  <div id="header">
   <a href="/"> <img class="fslogo" src="img/WSU_CSC_Logo_Color_Web.png" alt="WSU CSC Logo"/>
        <div class="name">
            <h1>Computer Science Club</h1>
            <h2>Winona State University</h2>
        </div>
    </a>
    <a class="register" href="https://localhackday.mlh.io/register/?id=winona&city_name=Winona%2C%20Minnesota">REGISTER FOR WARRIOR HACKS</a>
  </div>

     <div class="menu">
            <ul>
              <li><a href="/home">Home</a></li>
              <li><a href="/">Warrior Hacks</a></li>
              <li><a href="/constitution">Constituition</a></li>
              <li><a href="/contact">Contact</a></li>
           </ul>
       </div>
</template>