<template name="userProjects">
  <h3>Projects</h3>
  <div class="row">
    {{#each projects}}
      {{>projectBox}}
    {{/each}}
    {{#if isMe}}
      <div class="col-md-3 projectbox center-block">
        {{#linkTo route='project.create'}}
          <div class="col-md-6 ">
              <button id="singlebutton" name="singlebutton" class="btn btn-primary center-block startProject">
                  Start a Project!
              </button>
          </div>
        {{/linkTo}}
      </div>
    {{/if}}
  </div>
</template>
