<template name="userProjects">
  <h3>Projects</h3>
  <div class="row">
    {{#each projects}}
      {{>projectBox}}
    {{/each}}
    {{#if isMe}}
      <div class="col-md-3 projectbox center-block">
        {{#linkTo route='project.create'}}
          <div class="col-md-6 ">
              <button id="singlebutton" name="singlebutton" class="btn btn-primary center-block startProject">
                  Start a Project!
              </button>
          </div>
        {{/linkTo}}
      </div>
    {{/if}}
  </div>
</template>

<template name="projectBox">
  <div class="col-md-3 projectbox">
    {{#linkTo route='project.show'}}
      <h4>{{name}}</h4>
    {{/linkTo}}
    {{#if isMe}}
      {{#linkTo route='project.edit'}}
        edit
      {{/linkTo}}
    {{/if}}
    <p>{{description}}</p>
    {{#if joined}}
      <button id="read-more" class="btn btn-default pull-right leaveProject">Joined <span class="badge">{{collaboratorsCount}}</span></button>
    {{else}}
      <button id="read-more" class="btn btn-default pull-right joinProject">Join <span class="badge">{{collaboratorsCount}}</span></button>
    {{/if}}
  </div>
</template>