/* CSS declarations go here */

body{
    background: url("/img/geometry2.png");
    color: #797979;
    font-family: 'Lato', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
}

.logo{
    width: 80px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.clubname {
    display: inline;
    padding-left: 20px;
    color: #5D0891;
}

.register {
    float: right;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #512F92;
    margin-top: 75px;
    color: #512F92;
    background: #eee;
    font-weight: bold;
    cursor: pointer;
}

.register:hover {
    text-decoration: none;
    color: #eee;
    background: #512F92;
    cursor: pointer;
}

.main-box.no-header {
    padding-top: 20px;
}
.main-box {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 16px;
    -webikt-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.table a.table-link.danger {
    color: #e74c3c;
}
.label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
}
.user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}
.user-list tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}
a {
    color: #3498db;
    outline: none!important;
}
.user-list tbody td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.table thead tr th {
    text-transform: uppercase;
    font-size: 0.875em;
}
.table thead tr th {
    border-bottom: 2px solid #e7ebee;
}
.table tbody tr td:first-child {
    font-size: 1.125em;
    font-weight: 300;
}
.table tbody tr td {
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 12px 8px;
}

/********  Label ******/
.president{
    background-color: #666;
}

.vice-president{
    background-color: gray;
}

.inactive {
    background-color: #E74C3C;
}

.public-relations {
    background-color: #C53BC5;
}

.treasurer{
    background-color: #FFCA5E;
}

.header {
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
    border-bottom: solid #afafaf 1px;
}

.btn-block {
    display: inline !important;
}

/* LINE ICONS CONFIGURATION */

.mtbox {
    margin-top: 40px;
    margin-bottom: 40px;
}

.box1 {
    padding: 15px;
    text-align: center;
    color: #989898;
}

.box1 span {
    font-size: 50px;

}

.box1 h3 {
    text-align: center;
}

.box0:hover .box1 {
    border-bottom: 1px solid #ffffff;
}

.box0 p {
    text-align: center;
    font-size: 12px;
    color: #f2f2f2;
}

.box0:hover p {
    color: #ff865c;
}

.box0 {
    background: #ffffff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
}

.blocked {
    background: #ffffff;
}

.glyphicon.glyphicon-one-fine-dot:before {
    content: "\25cf";
    font-size: 1.5em;
}

.green {
    color: #86d040;
}
