<div ng-controller="MembersCtrlDetails">



<div class="page-header">
	<form>
		<label>First Name: </label>
		<input ng-model="member.firstName">
    	<label>Last Name: </label>
		<input ng-model="member.lastName">
	</form>	
	</div>

		<ul>
			<li>
			    <label>Email: </label>
				<input ng-model="member.email">
			</li>
			<li>
			    <label>public: </label>
				<input type="checkbox" ng-model="member.public">
			</li>
		</ul>

<a href="/members/{{member._id}}" class="table-link">
	<span class="fa-stack">
		<i class="fa fa-square fa-stack-2x"></i>
		<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
	</span>
</a>

<button ng-click="save();">Save</button>
<button ng-click="reset();">Reset form</button>
<button><a href="/members">Cancel</a></button>

</div>