<template name="showMember">
  {{>header}}

  <div class="container">
    {{#with member}}
      <div class="page-header">
        <h1>
          {{#if $and profile.firstName profile.lastName}}
            {{profile.firstName}} {{profile.lastName}}
          {{else}}
            {{emails.[0].address}}
          {{/if}}
          </h1>
          <span><i class="fa fa-envelope" aria-hidden="true"></i> {{emails.[0].address}}</span>
          <span><i class="fa fa-life-ring" aria-hidden="true"></i> {{profile.status}}</span>
          {{#linkTo route='member.edit'}}
            <a class="table-link">
              <span class="fa-stack">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          {{/linkTo}}
          {{#linkTo route='member.email'}}
            <a class="table-link">
              <span class="fa-stack">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          {{/linkTo}}
      </div>

    <div class="jumbotron">
      {{#if content}}

      {{else}}
        <p>Nothing about this guy yet 😱!</p>
      {{/if}}
    </div>
    {{/with}}

  </div>

</template>

