<template name="admin">
	{{>header}}

	<div class="container">

		{{#if currentUser}}
				<div class="page-header">
	      	<h1>Dashboard</h1>
			  </div>
				<section>
					<div class="row">
					  <div class="row mtbox">
						  <div class="col-md-2 col-sm-2  box0">
							  {{#linkTo route='members'}}
							    <div class="box1">
							    	<i class="fa fa-user" aria-hidden="true"></i>
							    	<h3>Members</h3>
							    </div>
							  {{/linkTo}}
						  </div>

						  {{#if isInRole 'admin, officer'}}
							  <div class="col-md-2 col-sm-2  box0">
								  {{#linkTo route='email.send'}}
								    <div class="box1">
								    	<i class="fa fa-envelope" aria-hidden="true"></i>
								    	<h3>Emails</h3>
								    </div>
								  {{/linkTo}}
							  </div>
							  <!-- <div class="col-md-2 col-sm-2  box0">
								  {{#linkTo route='admin'}}
								    <div class="box1">
								    	<i class="fa fa-commenting" aria-hidden="true"></i>
								    	<h3>Messages</h3>
								    </div>
								  {{/linkTo}}
							  </div> -->
							{{/if}}
					  </div><!-- /row mt -->
					</div>
				</section>
		{{else}}
			<div class="col-md-4 col-md-offset-4 text-center">
				{{> atForm}}
			</div>
		{{/if}}
	</div>

</template>
