<template name="header">
	<header class="header black-bg">
		<!--logo start-->
		<div class="row">
					<a href="/home" class="brand">
						<img class="logo" src="/img/WSU_CSC_Logo_Color_Web.png" alt="WSU CSC Logo"/>
						<h4 class="clubname">
							Computer Science Club | Winona State University
						</h4>
					</a>
					{{#if currentUser}}
						Logged as
						{{#if currentUser.profile.firstName}}
              {{currentUser.profile.firstName}}
            {{else}}
              {{currentUser.emails.[0].address}}
            {{/if}}

						<a class="text-right logout">Logout</a>
					{{/if}}
		</div>
	</header>
</template>
