<template name="sendEmail">
  {{>header}}

  <div class="container">

    <div class="page-header">
      <h1>Send An Email</h1>
    </div>

    <form class="form-horizontal sendEmail">
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Recepients</label>
        <div class="col-sm-10">
          <select class="selectEmails" name="emails" multiple="multiple">
            {{#each members}}
                <option value="{{emails.[0].address}}" data-id={{_id}}>
                {{#if $and profile.firstName profile.lastName}}
                                                {{profile.firstName}} {{profile.lastName}}
                                              {{else}}
                                                {{emails.[0].address}}
                                              {{/if}}
                </option>
            {{/each}}
            <option class="all" value="all">All Active members</option>
            <option class="board" value="board">Board Only</option>
            <option class="inactiveMembers" value="inactive">Inactive Only</option>
            <option class="pastMembers" value="pastMembers">Past Members</option>
            <option class="everySingleMember" value="everySingleMember">Every Single Member</option>
          </select>

        </div>
      </div>
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Subject</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="subject" name="subject" placeholder="Something cool about the email!" value="">
        </div>
      </div>
      <div class="form-group">
        <label for="message" class="col-sm-2 control-label">Message</label>
        <div class="col-sm-10 froalabox">
          {{> froalaReactive getContext}}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
        </div>
      </div>
    </form>
  </div>
</template>