<div data-ng-controller="headerCtrl">

					<!-- **********************************************************************************************************************************************************
				  TOP BAR CONTENT & NOTIFICATIONS
				  *********************************************************************************************************************************************************** -->
					<!--header start-->
					<header class="header black-bg">

						<!--logo start-->
						<div class="row">
							<div class="col-md-5">
									<a href="/#!/" class="brand">
										<img class="logo" src="modules/core/img/WSU_CSC_Logo_Color_Web.png" alt="WSU CSC Logo"/>
										<h4>
											Computer Science Club |
											<span class="text-button">Winona State University</span>
										</h4>
									</a>
							</div>
					  	<div class="col-md-7">
								<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">

								<!-- 	<div class="sidebar-toggle-box">
									<div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
								</div> -->

									<div class="nav notify-row" id="top_menu" data-ng-show="authentication.user">
										<!--  notification start -->
										<ul class="nav top-menu">
											<!-- settings start -->
											<li class="dropdown">
												<a data-toggle="dropdown" class="dropdown-toggle" href="">
													<i class="fa fa-tasks"></i>
													<span class="badge bg-theme">4</span>
												</a>
												<ul class="dropdown-menu extended tasks-bar">
													<div class="notify-arrow notify-arrow-green"></div>
													<li>
														<p class="green">You have 4 pending tasks</p>
													</li>
													<li>
														<a href="">
															<div class="task-info">
																<div class="desc">DashGum Admin Panel</div>
																<div class="percent">40%</div>
															</div>
															<div class="progress progress-striped">
																<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
																	<span class="sr-only">40% Complete (success)</span>
																</div>
															</div>
														</a>
													</li>
													<li>
														<a href="">
															<div class="task-info">
																<div class="desc">Database Update</div>
																<div class="percent">60%</div>
															</div>
															<div class="progress progress-striped">
																<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
																	<span class="sr-only">60% Complete (warning)</span>
																</div>
															</div>
														</a>
													</li>
													<li>
														<a href="">
															<div class="task-info">
																<div class="desc">Product Development</div>
																<div class="percent">80%</div>
															</div>
															<div class="progress progress-striped">
																<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
																	<span class="sr-only">80% Complete</span>
																</div>
															</div>
														</a>
													</li>
													<li>
														<a href="">
															<div class="task-info">
																<div class="desc">Payments Sent</div>
																<div class="percent">70%</div>
															</div>
															<div class="progress progress-striped">
																<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
																	<span class="sr-only">70% Complete (Important)</span>
																</div>
															</div>
														</a>
													</li>
													<li class="external">
														<a href="#">See All Tasks</a>
													</li>
												</ul>
											</li>
											<!-- settings end -->
											<!-- inbox dropdown start-->
											<li id="header_inbox_bar" class="dropdown">
												<a data-toggle="dropdown" class="dropdown-toggle" href="">
													<i class="fa fa-envelope-o"></i>
													<span class="badge bg-theme">5</span>
												</a>
												<ul class="dropdown-menu extended inbox">
													<div class="notify-arrow notify-arrow-green"></div>
													<li>
														<p class="green">You have 5 new messages</p>
													</li>
													<li>
														<a href="">
															<span class="photo"><img alt="avatar" src="modules/core/img/ui-zac.jpg"></span>
																									<span class="subject">
																									<span class="from">Zac Snider</span>
																									<span class="time">Just now</span>
																									</span>
																									<span class="message">
																											Hi mate, how is everything?
																									</span>
														</a>
													</li>
													<li>
														<a href="">
															<span class="photo"><img alt="avatar" src="modules/core/img/ui-divya.jpg"></span>
																									<span class="subject">
																									<span class="from">Divya Manian</span>
																									<span class="time">40 mins.</span>
																									</span>
																									<span class="message">
																									 Hi, I need your help with this.
																									</span>
														</a>
													</li>
													<li>
														<a href="">
															<span class="photo"><img alt="avatar" src="modules/core/img/ui-danro.jpg"></span>
																									<span class="subject">
																									<span class="from">Dan Rogers</span>
																									<span class="time">2 hrs.</span>
																									</span>
																									<span class="message">
																											Love your new Dashboard.
																									</span>
														</a>
													</li>
													<li>
														<a href="">
															<span class="photo"><img alt="avatar" src="modules/core/img/ui-sherman.jpg"></span>
																									<span class="subject">
																									<span class="from">Dj Sherman</span>
																									<span class="time">4 hrs.</span>
																									</span>
																									<span class="message">
																											Please, answer asap.
																									</span>
														</a>
													</li>
													<li>
														<a href="">See all messages</a>
													</li>
												</ul>
											</li>
											<!-- inbox dropdown end -->
										</ul>
										<!--  notification end -->
									</div>

									<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">

										<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
											<a ng-switch-when="dropdown" class="dropdown-toggle">
												<span data-ng-bind="item.title"></span>
												<b class="caret"></b>
											</a>

											<ul ng-switch-when="dropdown" class="dropdown-menu">
												<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
													<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
												</li>
											</ul>
											<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
										</li>
									</ul>

									<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
										<li ui-route="/signup" ng-class="{active: $uiRoute}">
											<a href="/#!/signup">Sign Up</a>
										</li>
										<li class="divider-vertical"></li>
										<li ui-route="/signin" ng-class="{active: $uiRoute}">
											<a href="/#!/signin">Sign In</a>
										</li>
									</ul>
									<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">
												<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
											</a>
											<ul class="dropdown-menu">
												<li>
													<a href="/#!/settings/profile">Edit Profile</a>
												</li>
												<li>
													<a href="/#!/settings/accounts">Manage Social Accounts</a>
												</li>
												<li data-ng-show="authentication.user.provider === 'local'">
													<a href="/#!/settings/password">Change Password</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="/auth/signout">Signout</a>
												</li>
											</ul>
										</li>
									</ul>
								</nav>
							</div>
						</div>


						<!--logo end-->



					</header>
					<!--header end-->
					<!-- **********************************************************************************************************************************************************
				          MAIN SIDEBAR MENU
				          *********************************************************************************************************************************************************** -->
					<!--sidebar start-->




					<aside data-ng-show="authentication.user">
						<div id="sidebar"  class="nav-collapse ">
							<!-- sidebar menu start-->
							<ul class="sidebar-menu" id="nav-accordion">

<!-- 								<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="/#!/settings/profile">Edit Profile</a>
			</li>
			<li>
				<a href="/#!/settings/accounts">Manage Social Accounts</a>
			</li>
			<li data-ng-show="authentication.user.provider === 'local'">
				<a href="/#!/settings/password">Change Password</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="/auth/signout">Signout</a>
			</li>
		</ul>
	</li>
</ul> -->

								<div data-ng-show="authentication.user">
									<p class="centered"><a href="/#!/settings/profile"><img src="modules/core/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
									<h5 class="centered" data-ng-bind="authentication.user.displayName"></h5>
								</div>
								<li class="mt">
									<a class="active" href="/#!/">
										<i class="fa fa-dashboard"></i>
										<span>Dashboard</span>
									</a>
								</li>

							</ul>
							<!-- sidebar menu end-->
						</div>
					</aside>
					<!--sidebar end-->


</div>
